
  <div class="copyright">
    powered by <a href="https://github.com/gustavopaes/">Gustavo Paes</a> <a href="https://github.com/gustavopaes/password-manager">password manager</a> |
    based on <a href="http://bootsnipp.com/cesiztel">cesiztel templates</a>
  </div>

</body>
</html>
