<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Senhas</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/style-md.css" media="screen and (max-width:768px)">
  <link rel="stylesheet" type="text/css" href="/style-sm.css" media="screen and (max-width:430px)">

  <script type="text/javascript" src="/script.js"></script>
  <script type="text/javascript" src="/crypto-js.js"></script>
</head>
<body>
