{{> header}}
  <section class="section-add">
    <h1>Service data</h1>
    <form name="create" action="/add" method="POST" onsubmit="return SendNewPasswd();">
      <input type="hidden" name="user.login" value="{{login}}">

      <label for="serviceName">
        <input name="service.name" spellcheck="false" type="text" value="" id="serviceName" placeholder="service name" />
      </label>

      <label for="servicePassword">
        <textarea name="service.passwd" spellcheck="false" id="servicePassword" rows="10" placeholder="password or text"></textarea>
      </label>

      <label for="userPasswd">
        <input name="user.passwd" type="password" value="" id="userPasswd" placeholder="{{ login }} password" />
      </label>

      <button type="submit">Criar</button>
    </form>
  </section>

  <section class="section-sidebar">
    <span class="section-sidebar-bg"></span>
    <h1>{{ login }} <small><a href="/logout">(logout)</a></small></h1>

    <ul>
      {{#data.services}}
        <li onclick="showServiceData(this);">
          <a>{{ name }}</a>
          <input name="service.name" type="hidden" value="{{ name }}" />
          <input name="service.passwd" type="hidden" value="{{ passwd }}" />
        </li>
      {{/data.services}}
    </ul>
  </section>
{{> footer}}
