{{> header}}
  <section class="section-add">
    <h1>Service data</h1>
    <form name="manageItem">
      <input type="hidden" name="user.login" value="{{login}}">

      <label for="serviceName">
        <input name="service.name" spellcheck="false" type="text" value="" id="serviceName" placeholder="service name" />
      </label>

      <label for="servicePassword">
        <textarea name="service.passwd" spellcheck="false" id="servicePassword" rows="10" placeholder="password or text"></textarea>
      </label>

      <label for="userPasswd">
        <input name="user.passwd" type="password" value="" id="userPasswd" placeholder="{{ login }} password" />
      </label>

      <button data-action="/add" onclick="SendForm(this);" type="button">Criar</button>
      <button data-action="/update" onclick="SendForm(this);" type="button">Modificar</button>
      <button data-action="/delete" onclick="SendForm(this);" type="button">Remover</button>
    </form>
  </section>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>

  <section class="section-sidebar">
    <span class="section-sidebar-bg"></span>
    <h1>{{ login }} <small><a href="/logout">(logout)</a></small></h1>

    <ul>
      {{#data.services}}
        <li onclick="showServiceData(this);">
          <a>{{ name }}</a>
          <input name="service.name" type="hidden" value="{{ name }}" />
          <input name="service.passwd" type="hidden" value="{{ passwd }}" />
        </li>
      {{/data.services}}
    </ul>
  </section>
{{> footer}}
